@charset "utf-8";
body {
	background-image: url(../images/bgtop.png);
	background-repeat: repeat-x;
	background-color: #000;
	margin: 0px;
	padding: 0px;
}
body,td,th {
	font-family: Calibri, Lucida Sans Unicode, Lucida Grande, sans-serif;
}
#container {
	width: 980px;
	padding:0px;
	clear:both;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#container #header #phone {
	float: left;
	width: 267px;
	background-image: url(../images/phone.png);
	background-repeat: no-repeat;
	height: 84px;
	margin-top: 5px;
	margin-left: 365px;
}
#container #header #phone p {
	display: none;
}
#container #header #floatinglogo h1 {
	display: none;
}
#container #content h1 {
	font-size: 28px;
	color: #86d1d1;
}

#container #header {
	float: left;
	width: 980px;
	height: 140px;
}
#container #content {
	float: left;
	width: 940px;
	background-color: #000;
	padding: 20px;
	color: #FFF;
}
#container #footer p {
	font-size: 14px;
	text-align: right;
	color: #FFF;
}
#container #footer p a {
	color: #FFF;
}

#container #footer {
	float: left;
	width: 980px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
}
#container #top #nav {
	float: left;
	height: 46px;
	width: 980px;
}
#container #top #rotate {
	float: left;
	width: 980px;
	height: 273px;
}
#container #header #floatinglogo {
	position: relative;
	z-index: 999;
	top: 1px;
	float: left;
}
#container #header {
	background-image: url(../images/topbgflat.jpg);
	background-repeat: no-repeat;
}


#container #top {
	float: left;
	height: 319px;
	width: 980px;
}
#container #content #leftcontent {
	float: left;
	width: 650px;
}
#container #content #rightcontent {
	float: left;
	width: 280px;
	padding-left: 10px;
}
#container #content #rightcontent #serviceslist ul {
	list-style-image: url(../images/tick.jpg);
}
#container #content #rightcontent #serviceslist ul li a {
	text-decoration: none;
	color: #769dc5;
	font-weight: bold;
}


#container #content #rightcontent #serviceslist ul li a:hover {
	text-decoration: none;
	color: #769dc5;
	font-weight: bold;
}
#container #content #rightcontent #serviceslist ul li a:visited {
	text-decoration: none;
	color: #769dc5;
	font-weight: bold;
}
ul li a {
	color: #769dc5;
}
ul li a:visited {
	color: #769dc5;
}
ul li a:hover {
	color: #769dc5;
}
#leftcontent #bluetexttable {
	color: #86d1d1;
	font-weight: bold;
}